@CHARSET "ISO-8859-1";
#img2{
	width:200px;
	height:80px;
	
}
.btn btn-default{
	margin-left:2px;
	margin-right:2px;
	border-radius: 50px;
}
 #t1{
	 border-radius: 50px;
	 margin:auto;
	 text-align: centre;
	 background-color:#dfdfdf;
	 border: none;
	 height: 25px;
	 color: #9e9e9e;
	  
}
#d1{
	background-color:#f2f2f2;
	 height:20%;
	  margin-top:50px;
	  margin-bottom:50px;
	  
}
#n2{
margin-left:10px;
margin-right:10px;
	margin-top:10px;
}
#f1{
	border-top:10px;
	padding-top:20px;
}
#b1{
	border-top:10px;
	padding-top:10px;
	 margin-top:50px;
	  margin-bottom:50px;
}
